{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}

{% block body %}
{% from "_formhelpers.html" import render_field %}

<div class="banner">
    <h1>Breath the weather !</h1>
</div>

<br><br><br>

<div class="container" style="text-align: center;">
    <form action="/search" method="post">
    
        {{ render_field(form.name,class="form-control",style="border-width:thick")}}
        <button type="submit" class="btn btn-primary" style="width: 250px;">Ara</button>
       
    </form>
  </div>

  <div class="container">
      <a href="/logout" type="button" class="btn btn-danger" style="float: right;">Çıkış Yap</a>
  </div>
  


{% endblock %}